.idea/
/USB_Stress_test_kivy_app/Data_summary.csv
/USB_Stress_test_kivy_app/Export_data IO-04-001018.xlsx
/USB_Stress_test_kivy_app/Export_data IO-04-002819.xlsx
/USB_Stress_test_kivy_app/Export_summary IO-04-001018.xlsx
/USB_Stress_test_kivy_app/Export_summary IO-04-002819.xlsx
/USB_Stress_test_kivy_app/*.xlsx
build
IO-Client_analyser
/Traceable Trac log converter/B620C2AA.CSV
/Traceable Trac log converter/B620C2AA_mod.CSV
/temperature analyse
/Accuracy_scan_data/*.csv